In [1]:
import pandas as pd
import numpy as np
import warnings
import ast
from tqdm import tqdm
from datetime import datetime
warnings.filterwarnings('ignore')

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go
tqdm.pandas(desc="my bar!")

In [3]:
flats = pd.read_csv('database.csv',sep=',',dtype='unicode')

In [4]:
flats.count()

Building_year                       90023
Number_of_rooms                    168513
_id                                263747
active                             263747
address                            245282
bathroom_number                     38919
bathroom_separated                  38919
ceiling_type                        35655
central_heating                     35598
cian_id                            263747
date_of_adding_to_db               263747
date_of_place                       21787
emergency_condition                 38544
house_type                          63604
housing_complex                     52871
id                                 263747
kitchen_area                        60158
latitude                           157278
living_area                         59623
longitude                          157278
passengers_elevator_number          24109
pic_urls                           263747
porch_num                           36911
price_per_house_in_dst              26149
price_per_house_in_dst_dynamics     26149
price_per_meter_in_dst              26149
price_per_meter_in_dst_dynamics     26149
price_per_sq_meter                 194109
price_range                         31576
purchase_dynamics                   26149
purchase_price                      26149
rent_dynamics                       26149
rent_dynamics_in_dst                26149
rent_price                          26149
rent_price_in_dst                   26149
room1_square                        15700
room2_square                         5853
room3_square                         2531
seen_as_old                         78044
service_elevator_number             24109
storey_number                      263747
total_area                         162394
total_number_views                  21802
total_price                        206038
type_of_flat                        44731
visitors                            22733
whole_storey_number                263747
windows_to_street                   23005
сeiling_height                      12615
dtype: int64

делаю числом все, что может быть числом

In [5]:
def string_to_obj(x):
    try:
        tmp = ast.literal_eval(x)
    except:
        tmp = x
    return tmp

In [6]:
flats = flats.progress_applymap(string_to_obj)

my bar!: 100%|████████████████████████████████████████████████████████████████████████████| 12923603/12923603 [03:31<00:00, 61014.58it/s]

In [7]:
flats = flats.loc[flats.date_of_adding_to_db.apply(type) != list]

In [8]:
def make_new_buildings(x):
#     print(x.Building_year)
#     print(x.Building_year.isinstance(list))
    if type(x.Building_year) is list and len(x.Building_year)==2:
        lst = x.Building_year
        x['New_building'] = True
        x.Building_year = lst[-1]
        x['quarter'] = lst[0]
    else:
        x['New_building'] = False
        x['quarter'] = None
    return x#.New_building, x.Building_year, x.quarter

In [9]:
flats  = flats.progress_apply(make_new_buildings, axis=1)

my bar!: 100%|██████████████████████████████████████████████████████████████| 263702/263702 [13:59<00:00, 313.98it/s]

In [10]:
def make_float(x):
    try:
        tmp = float(x)
    except:
        tmp = x
    return tmp

In [11]:
def make_float_or_nan(x):
    try:
        tmp = float(x)
    except:
        tmp = np.nan
    return tmp

делаю числом все цены, иначе делаю их нанами

In [12]:
flats.date_of_adding_to_db.unique()

array(['2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
       '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
       '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
       '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-18',
       '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
       '2020-03-23', '2020-03-24', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-12', '2020-04-13',
       '2020-04-14', '2020-04-15'], dtype=object)

In [13]:
flats.date_of_adding_to_db.progress_apply(lambda x: datetime.strptime(x, '%Y-%m-%d') if x is not np.nan else np.nan)

my bar!: 100%|████████████████████████████████████████████████████████████| 263702/263702 [00:06<00:00, 38162.66it/s]

13       2020-02-26
16       2020-02-26
21       2020-02-26
25       2020-02-26
27       2020-02-26
            ...
263742   2020-04-15
263743   2020-04-15
263744   2020-04-15
263745   2020-04-15
263746   2020-04-15
Name: date_of_adding_to_db, Length: 263702, dtype: datetime64[ns]

In [14]:
flats.count()

Building_year                       90012
Number_of_rooms                    168501
_id                                263702
active                             263702
address                            245258
bathroom_number                     38913
bathroom_separated                  38913
ceiling_type                        35650
central_heating                     35593
cian_id                            263702
date_of_adding_to_db               263702
date_of_place                       21787
emergency_condition                 38539
house_type                          63598
housing_complex                     52868
id                                 263702
kitchen_area                        60151
latitude                           157263
living_area                         59616
longitude                          157263
passengers_elevator_number          24108
pic_urls                           263702
porch_num                           36906
price_per_house_in_dst              26145
price_per_house_in_dst_dynamics     26145
price_per_meter_in_dst              26145
price_per_meter_in_dst_dynamics     26145
price_per_sq_meter                 194071
price_range                         31571
purchase_dynamics                   26145
purchase_price                      26145
rent_dynamics                       26145
rent_dynamics_in_dst                26145
rent_price                          26145
rent_price_in_dst                   26145
room1_square                        15700
room2_square                         5853
room3_square                         2531
seen_as_old                         77999
service_elevator_number             24108
storey_number                      263702
total_area                         162383
total_number_views                  21787
total_price                        206000
type_of_flat                        44725
visitors                            22733
whole_storey_number                263702
windows_to_street                   23002
сeiling_height                      12613
New_building                       263702
quarter                             26423
dtype: int64

In [15]:
flats.total_price = flats.total_price.apply(make_float_or_nan)

In [16]:
flats.groupby('Number_of_rooms')['id'].count().sort_values()

Number_of_rooms
5.0      644
4.0     4070
0.8     8695
3.0    25857
1.0    64057
2.0    65178
Name: id, dtype: int64

In [17]:
flats.count()

Building_year                       90012
Number_of_rooms                    168501
_id                                263702
active                             263702
address                            245258
bathroom_number                     38913
bathroom_separated                  38913
ceiling_type                        35650
central_heating                     35593
cian_id                            263702
date_of_adding_to_db               263702
date_of_place                       21787
emergency_condition                 38539
house_type                          63598
housing_complex                     52868
id                                 263702
kitchen_area                        60151
latitude                           157263
living_area                         59616
longitude                          157263
passengers_elevator_number          24108
pic_urls                           263702
porch_num                           36906
price_per_house_in_dst              26145
price_per_house_in_dst_dynamics     26145
price_per_meter_in_dst              26145
price_per_meter_in_dst_dynamics     26145
price_per_sq_meter                 194071
price_range                         31571
purchase_dynamics                   26145
purchase_price                      26145
rent_dynamics                       26145
rent_dynamics_in_dst                26145
rent_price                          26145
rent_price_in_dst                   26145
room1_square                        15700
room2_square                         5853
room3_square                         2531
seen_as_old                         77999
service_elevator_number             24108
storey_number                      263702
total_area                         162383
total_number_views                  21787
total_price                        206000
type_of_flat                        44725
visitors                            22733
whole_storey_number                263702
windows_to_street                   23002
сeiling_height                      12613
New_building                       263702
quarter                             26423
dtype: int64

In [18]:
flats  = flats.progress_applymap(make_float)

my bar!: 100%|███████████████████████████████████████████████████████| 13448802/13448802 [00:42<00:00, 315539.16it/s]

In [19]:
flats.date_of_adding_to_db.unique()

array(['2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
       '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
       '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
       '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-18',
       '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
       '2020-03-23', '2020-03-24', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-12', '2020-04-13',
       '2020-04-14', '2020-04-15'], dtype=object)

In [20]:
flats.keys()

Index(['Building_year', 'Number_of_rooms', '_id', 'active', 'address',
       'bathroom_number', 'bathroom_separated', 'ceiling_type',
       'central_heating', 'cian_id', 'date_of_adding_to_db', 'date_of_place',
       'emergency_condition', 'house_type', 'housing_complex', 'id',
       'kitchen_area', 'latitude', 'living_area', 'longitude',
       'passengers_elevator_number', 'pic_urls', 'porch_num',
       'price_per_house_in_dst', 'price_per_house_in_dst_dynamics',
       'price_per_meter_in_dst', 'price_per_meter_in_dst_dynamics',
       'price_per_sq_meter', 'price_range', 'purchase_dynamics',
       'purchase_price', 'rent_dynamics', 'rent_dynamics_in_dst', 'rent_price',
       'rent_price_in_dst', 'room1_square', 'room2_square', 'room3_square',
       'seen_as_old', 'service_elevator_number', 'storey_number', 'total_area',
       'total_number_views', 'total_price', 'type_of_flat', 'visitors',
       'whole_storey_number', 'windows_to_street', 'сeiling_height',
       'New_building', 'quarter'],
      dtype='object')

In [30]:
flats['city'] = flats.address.apply(lambda x: x[0] if x is not None and x is not np.nan else None)
flats['address'] = flats.address.apply(lambda x: "".join(x) if x is not None and x is not np.nan else None)

In [34]:
flats.to_csv('final.csv')